modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "Run Full Stack"

[[workflows.workflow]]
name = "Run Backend"
author = 44088836
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npm start"

[[workflows.workflow]]
name = "Run Full Stack"
author = 44088836
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm install && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm install && npm start"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001
